header{
	width:100%;
	text-align: center;
}

header #headerImage{
	display: block;
	margin: 0 auto;
}

header .socialIcon{
	font-size: 2.5em;
}

header #emailAddr{
	font-size: 18px;
	margin-top: 7px;
}

.fa-envelope{
	margin-right: 3px;
	display: auto;
}

#myCarousel{
	width: 95%;
	margin: auto;
	margin-top: 10px;
}

.carousel-inner img{
	margin: auto;
	width: 100%;
}
#workJumbotron{
	display: none;
	background-image: url('../static/workhard.jpg');
	background-size: 100% 100%;
	min-height: 300px;
	margin-top: 10px;
	border-radius: 15px;
}

img{
	-webkit-filter: opacity(80%);
	text-align: center;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

p{
	text-align: center;
}

body{
	padding-top: 60px;
	padding-bottom: 44px;
	font-size: 16px;
	margin-bottom: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.setTable{
	display: table;
	margin: auto;
}

.aboutParagraph{
	display: table-cell;
}

.aboutParagraph img{
	margin: 0px auto;
	text-align: center;
}

#aboutImageSection{
	margin-top: 15px;
}

.aboutImages img{
	width: 100%;
	text-align: center;
	margin-bottom: 3px;
}

footer{
	position: absolute;
	text-align: center;
	margin-top: 20px;
	width: 100%;
	background-color: rgba(255,255,0,.3);
}

@media(min-width:768px){
	header #headerImage{
		width: 350px;
		height: 350px;
	}
	header .socialIcon{
		font-size: 3.25em;
	}
	header #emailAddr{
		font-size: 22px;
	}
	#workJumbotron{
		display: block;
	}
	.aboutImages img{
		margin-bottom: 0px;
	}
	.lowerRow{
		margin-top: 25px;
	}

	#myCarousel{
		width: 98%;
	}
	.carousel-inner{
		max-height: 450px;
	}
	.carousel-inner img{
		width: 600px;
		height: 450px;
	}
	body{
		padding-bottom: 22px;
	}
	footer{
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media(min-width:993px){
	header #headerImage{
		display: inline-block;
	}

	header #headerLinksContainer{
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
	}

	header .socialIcon{
		font-size: 4em;
	}
	header #emailAddr{
		font-size: 26px;
	}
	header{
		/*text-align: left;*/
		width: 98%;
		margin-left: 10px;
		display: inline-block;
	}

	.lowerRow{
		margin-top: 0px;
	}

}
