<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Justin Ruloff - {{title}}</title>
</head>
<body>
	<header>
		<h1>{{title}}</h1>
		<nav>
			<a href = "michigan.html">{{michigan}}</a>
			<a href = "basketball.html">{{basketball}}</a>
			<a href = "nike.html">{{nike}}</a>
			<a href = "login.html">{{login}}</a>
		</nav>
	</header>

	{% block content %}
	I should never see this content.  It should be replaced.
	{% endblock %}

	<footer>
		<p>Copyright &copy; Justin Ruloff - Junior at the University of Michigan. Check out my <a href="https://www.facebook.com/justin.ruloff" target="_blank">Facebook page</a> here.</p>
	</footer>
	
</body>
</html>