{%extends "templates/base.html" %}
{% block content %}
	<div class="row setTable">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<h2>The University of Michigan</h2>
			<p>I am a junior at the greatest University in the world. I am a Computer Science Major in the College of Engineering. I live on State Street, which is a great place to live if you like to tailgate. However, it is fairly far from the center of campus, so the trek back and forth from class each day is kind of miserable in the winter. I have 3 semesters of school left following this semester. I only need 3 more Computer Science classes left to fulfill my major requirements, which is pretty exciting. However, I'll most likely take more because I'm getting pretty sick of taking classes that don't interest me. My mom thinks I'm crazy for wanting to take harder classes.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 eduParagraph">
			<h2>Classes</h2>
			<p>EECS 281: Data Structures and Algorithms</p>
			<p>EECS 285: Practical Java</p>
			<p>EECS 370: Introduction to Computer Organization</p>
			<p>EECS 376: Foundations of Computer Science</p>
			<p>EECS 475: Introduction to Cryptography</p>
			<p>EECS 492: Introduction to Artificial Intelligence</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 eduParagraph">
			<h2>Projects</h2>
			<p>Stock Exchange Simulator</p>
			<p>Euchre Simulator</p>
			<p>Map-Drawing Program</p>
			<p>E-Reader</p>
			<p>Connect Four Over a Server</p>
			<p>Cryptosystem with specialized data structures for large numbers</p>
		</div>
	</div>
{% endblock %}