{%extends "templates/base.html" %}
{% block headerImages %}
	<div class="container headerImages">
  		<div class="jumbotron" id="workJumbotron">
  		</div>  
	</div>
{%endblock %}

{% block content %}
	<div class="row setTable">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<h2>School of Education</h2>
			<p>I have been an Assistant Web Developer for The University of Michigan School of Education since January of 2015. My main focus is contributing to LessonSketch. LessonSketch is an animated, interactive classroom simulator that allows users to design classrooms to aid in their lesson plans. Users can write equations on the board, ask questions, assign students to groups, customize their classrooms, and more. My main contribution to LessonSketch has been the color picker feature. It allows the user to select a color for any character in the room, and the 10 most recently selected colors are saved for later use.</p>
			<p>Alongside my work with LessonSketch, I manage and update a Research and Development site which contains information pertaining to teacher workshops. This website has multiple sub-sites, which correspond to learning modules. Most of these modules cover Common Core State Standard Material.
			</p>
			<p>My current project is to develop and integrate an Audio Recorder into LessonSketch. This will allow users to record audio clips to be played in their classroom simulator. I am using HTML5 Audio along with a custom style sheet that manipulates the HTML5 Audio controls.
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<h2>DTE Energy</h2>
			<p>I spent the last 3 summers (Summer of 2013, Summer of 2014, Summer of 2015) working for the AMI Engineering team at DTE Energy. While the first summer wasn't very exciting, the second summer (Summer of 2014) I was the team lead on a project conducted by a group of 7 interns, including myself. We collected, analyzed and integrated data for over 800 cell relay devices.</p>
			<p>This past summer (Summer of 2015) I created an Excel Macro in VBA that parsed customer meter data and created graphs detailing the average read rate over a specified amount of time.
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<h2>Medtronic</h2>
			<p>This summer, I will be working in Minneapolis for Medtronic as an Associate Software Engineer. I will be working on the development of an application that interfaces with pacemakers.
		</div>
	</div>
{% endblock %}